In [25]:
# lab task 09
# Data Loading/ Reading
# Data Exploration

In [26]:
# Data Loading/ Reading
import pandas as pd
df = pd.read_csv("mentalhealth_dataset.csv")
df

,Timestamp,Gender,Age,Course,YearOfStudy,CGPA,Depression,Anxiety,PanicAttack,SpecialistTreatment,SymptomFrequency_Last7Days,HasMentalHealthSupport,SleepQuality,StudyStressLevel,StudyHoursPerWeek,AcademicEngagement
0,13/7/2020,Female,24,Biotechnology,Year 3,2.38,1,0,0,0,5,0,4,5,8,2
1,13/7/2020,Female,18,Biotechnology,Year 3,4.00,0,1,0,0,0,0,4,4,13,5
2,13/7/2020,Female,25,Biotechnology,Year 3,3.68,0,0,1,0,3,0,1,2,13,1
3,13/7/2020,Female,18,Engineering,year 4,4.00,0,0,0,0,3,0,5,1,19,2
4,13/7/2020,Female,20,Engineering,year 4,2.00,1,1,0,0,0,0,2,4,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2023-07-09,Female,20,KOE,year 1,2.31,0,1,0,0,6,0,1,3,7,1
996,2023-07-09,Female,23,Engineering,year 1,3.72,1,0,0,0,3,0,4,1,12,2
997,2023-07-09,Female,19,Human Sciences,Year 2,2.00,0,0,1,0,1,0,5,4,3,1
998,2023-07-09,Female,24,Human Sciences,Year 2,3.89,1,0,1,0,5,0,5,4,13,3
999,2023-07-09,Female,20,Human Sciences,Year 2,2.46,1,0,0,0,0,0,2,5,8,1

In [27]:
# Data Exploration

In [28]:
df.head()

,Timestamp,Gender,Age,Course,YearOfStudy,CGPA,Depression,Anxiety,PanicAttack,SpecialistTreatment,SymptomFrequency_Last7Days,HasMentalHealthSupport,SleepQuality,StudyStressLevel,StudyHoursPerWeek,AcademicEngagement
0,13/7/2020,Female,24,Biotechnology,Year 3,2.38,1,0,0,0,5,0,4,5,8,2
1,13/7/2020,Female,18,Biotechnology,Year 3,4.00,0,1,0,0,0,0,4,4,13,5
2,13/7/2020,Female,25,Biotechnology,Year 3,3.68,0,0,1,0,3,0,1,2,13,1
3,13/7/2020,Female,18,Engineering,year 4,4.00,0,0,0,0,3,0,5,1,19,2
4,13/7/2020,Female,20,Engineering,year 4,2.00,1,1,0,0,0,0,2,4,3,2

In [29]:
df.tail()

,Timestamp,Gender,Age,Course,YearOfStudy,CGPA,Depression,Anxiety,PanicAttack,SpecialistTreatment,SymptomFrequency_Last7Days,HasMentalHealthSupport,SleepQuality,StudyStressLevel,StudyHoursPerWeek,AcademicEngagement
995,2023-07-09,Female,20,KOE,year 1,2.31,0,1,0,0,6,0,1,3,7,1
996,2023-07-09,Female,23,Engineering,year 1,3.72,1,0,0,0,3,0,4,1,12,2
997,2023-07-09,Female,19,Human Sciences,Year 2,2.00,0,0,1,0,1,0,5,4,3,1
998,2023-07-09,Female,24,Human Sciences,Year 2,3.89,1,0,1,0,5,0,5,4,13,3
999,2023-07-09,Female,20,Human Sciences,Year 2,2.46,1,0,0,0,0,0,2,5,8,1

In [30]:
print(f"Number of Rows: {df.shape[0]} \nNumber of Columns: {df.shape[1]}")

Number of Rows: 1000
Number of Columns: 16

In [31]:
df.describe()

,Age,CGPA,Depression,Anxiety,PanicAttack,SpecialistTreatment,SymptomFrequency_Last7Days,HasMentalHealthSupport,SleepQuality,StudyStressLevel,StudyHoursPerWeek,AcademicEngagement
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.0000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,21.402000,3.122530,0.483000,0.474000,0.458000,0.067000,3.4980,0.067000,2.983000,3.045000,9.746000,3.055000
std,2.373611,0.810961,0.499961,0.499573,0.498482,0.250147,2.3081,0.250147,1.417999,1.417386,5.651497,1.422673
min,18.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,19.000000,2.250000,0.000000,0.000000,0.000000,0.000000,1.7500,0.000000,2.000000,2.000000,5.000000,2.000000
50%,21.000000,3.250000,0.000000,0.000000,0.000000,0.000000,3.0000,0.000000,3.000000,3.000000,9.000000,3.000000
75%,24.000000,4.000000,1.000000,1.000000,1.000000,0.000000,6.0000,0.000000,4.000000,4.000000,15.000000,4.000000
max,25.000000,4.000000,1.000000,1.000000,1.000000,1.000000,7.0000,1.000000,5.000000,5.000000,19.000000,5.000000

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timestamp                   1000 non-null   object
 1   Gender                      1000 non-null   object
 2   Age                         1000 non-null   int64
 3   Course                      1000 non-null   object
 4   YearOfStudy                 1000 non-null   object
 5   CGPA                        1000 non-null   float64
 6   Depression                  1000 non-null   int64
 7   Anxiety                     1000 non-null   int64
 8   PanicAttack                 1000 non-null   int64
 9   SpecialistTreatment         1000 non-null   int64
 10  SymptomFrequency_Last7Days  1000 non-null   int64
 11  HasMentalHealthSupport      1000 non-null   int64
 12  SleepQuality                1000 non-null   int64
 13  StudyStressLevel            1000 non-null   int64
 14  StudyHoursPerWeek           1000 non-null   int64
 15  AcademicEngagement          1000 non-null   int64
dtypes: float64(1), int64(11), object(4)
memory usage: 125.1+ KB

In [33]:
df.dtypes

Timestamp                      object
Gender                         object
Age                             int64
Course                         object
YearOfStudy                    object
CGPA                          float64
Depression                      int64
Anxiety                         int64
PanicAttack                     int64
SpecialistTreatment             int64
SymptomFrequency_Last7Days      int64
HasMentalHealthSupport          int64
SleepQuality                    int64
StudyStressLevel                int64
StudyHoursPerWeek               int64
AcademicEngagement              int64
dtype: object

In [34]:
df.count()

Timestamp                     1000
Gender                        1000
Age                           1000
Course                        1000
YearOfStudy                   1000
CGPA                          1000
Depression                    1000
Anxiety                       1000
PanicAttack                   1000
SpecialistTreatment           1000
SymptomFrequency_Last7Days    1000
HasMentalHealthSupport        1000
SleepQuality                  1000
StudyStressLevel              1000
StudyHoursPerWeek             1000
AcademicEngagement            1000
dtype: int64

In [35]:
df.isnull().sum()

Timestamp                     0
Gender                        0
Age                           0
Course                        0
YearOfStudy                   0
CGPA                          0
Depression                    0
Anxiety                       0
PanicAttack                   0
SpecialistTreatment           0
SymptomFrequency_Last7Days    0
HasMentalHealthSupport        0
SleepQuality                  0
StudyStressLevel              0
StudyHoursPerWeek             0
AcademicEngagement            0
dtype: int64

In [36]:
df.duplicated().sum()

np.int64(0)

In [37]:
for i in df.columns:
    print(i)

Timestamp
Gender
Age
Course
YearOfStudy
CGPA
Depression
Anxiety
PanicAttack
SpecialistTreatment
SymptomFrequency_Last7Days
HasMentalHealthSupport
SleepQuality
StudyStressLevel
StudyHoursPerWeek
AcademicEngagement

In [38]:
df['Course'].unique()

array(['Biotechnology', 'Engineering', 'Communication ',
       'Diploma Nursing', 'Pendidikan Islam ', 'Radiography',
       'psychology', 'Fiqh fatwa ', 'BIT', 'DIPLOMA TESL', 'Koe', 'KOE',
       'BENL', 'Fiqh', 'Islamic Education', 'BCS', 'Nursing ',
       'Pendidikan Islam', 'Biomedical science', 'Islamic education',
       'Laws', 'Mathemathics', 'Pendidikan islam', 'Human Resources',
       'Irkhs', 'Psychology', 'KENMS', 'Accounting ', 'ENM',
       'Marine science', 'Banking Studies', 'Business Administration',
       'Law', 'KIRKHS', 'Usuluddin ', 'TAASL', 'Engine', 'koe', 'Kirkhs',
       'CTS', 'engin', 'Econs', 'MHSC', 'Malcom', 'Kop',
       'Human Sciences ', 'ALA', 'Benl', 'IT'], dtype=object)

In [39]:
df.nunique()

Timestamp                      16
Gender                          2
Age                             8
Course                         49
YearOfStudy                     7
CGPA                          187
Depression                      2
Anxiety                         2
PanicAttack                     2
SpecialistTreatment             2
SymptomFrequency_Last7Days      8
HasMentalHealthSupport          2
SleepQuality                    5
StudyStressLevel                5
StudyHoursPerWeek              19
AcademicEngagement              5
dtype: int64